@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* ||RESET */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}

/* ||VARIABLES */
:root{
   /*  COLORS */
   --BGCOLOR:#fff;
   --COLOR:#000;

   /* FONTS */
   --FF:"Raleway", sans serif;
   --FS: 25px;
   --FW: 250;
    /*  STANDARD PADDING */
 --PADDING-TB:3rem;
 --PADDING-SIDE:0,auto;

 /* STANDARD MARGIN */
 --MARGIN:clamp(1em,2.5vh,1.5em) 0;

  /*  BORDERS */
  --BORDERS: 1px solid #fff;
  --BORDER-RADIUS:15px;


}
header{
    font-family: var(--FF);
    font-size: 20px;
    line-height: 1.1;
    padding: 1.5em;
    text-align: center;
 }
 .header__h1{
     font-weight:500;
  
 }
 .header--p{
     font-weight: var(--FW);
 }
.span__1{
    background-color: #000;
    border-bottom: 0;
    border-radius: 50%;
    border-top: 0;
    border-width:5px;
    border: 1px solid #000;
    color: whitesmoke;
}
span{
    background-color: #000;
    color: whitesmoke;
    border: 1px solid #000;
}
.span{
    background-color: #000;
    border-bottom: 0;
    border-radius: 50%;
    border-top: 0;
    border-width:5px;
    border: 1px solid #000;
    color: whitesmoke;
}
.container{
   display: flex;
   flex-wrap: wrap;
}
.blog{
  display: flex;
  flex-wrap: wrap;
}
.title{
    border: var(--BORDERS);
    box-shadow: 0 0 5px;
    font-family: var(--FF);
    font-size: 25px ;
    margin: 0.6em 0.7em;
    width: 60%;
}
.aside{
    border: var(--BORDERS);
    box-shadow: 0 0 5px;
    font-family: var(--FF);
    height:100%;
    position: relative;
    top: 20px;
    width: 30%;
}
.aside--h4{
    font-size: 20px;
    margin-left: 0.9em;
    font-weight: bold;
    padding:0.9em;
}
.aside--p{
   margin-left: 0.4em;
   padding-bottom: 0.4em;
}
.figure--cap{
    font-weight: 380;
    font-size: 0.7em;
    margin-left: 0.5em;
    margin-top: 0.4rem;
}
.figure--h3{
    font-weight: var(--FW);
    margin-left: 0.4em;
    margin-top: 0.4rem;
}
.figure--h5{
    font-weight: var(--FW);
    margin-left: 0.5em;
    margin-top: 0.4rem;
}
.read{
    font-size:2rem;
    font-weight: bold;
    margin-left: 0.9rem;
    padding-bottom: 0.9em;
    padding-top: 0.4em;
}
button{
    padding: 0.9rem;
    width: 10em;
    opacity: 10px;
    border:1px solid #918c8ccc;
}
.button{
    background-color: #000;
    border:1px solid #918c8ccc;
    color: whitesmoke;
    cursor: pointer;
    opacity: 10px;
    padding: 0.9rem;
    width: 10em;
    
}
.button:hover{
    background-color: #818181;
}
.button--1{
    background-color: #919191;
    border:1px solid #918c8ccc;
    cursor: not-allowed; 
    margin-right:10px;
    opacity: 10px;
    padding: 0.9rem;
    width: 10em;
}
.button--1:hover{
    background-color: #cccc;
}
.comments{
    font-size:1rem;
    text-align: right;
    margin-right: 15px;
    transform: translateY(-50%);
}
.article{
    border: var(--BORDERS);
    box-shadow: 0 0 5px;
    font-family: var(--FF);
    font-size: 25px ;
    margin: 0.4em 0.7em;
    width: 60%;
}
.popular-post{
    border: var(--BORDERS);
    box-shadow: 0 0 5px;
    display: block;
    font-family: var(--FF);
    font-size: 25px ;
    height: 50%;
    margin-top: 0.5rem;
    position: relative;
    top: -80px;
    width: 30%;
    
}
.popular-post h4{
    background-color: #F1F1F1;
    font-size: 20px;
    font-weight: 300;
    padding:0.9em;
   display:block;
}
ul{
    display: flex;
    flex-direction: column;
    line-height: 20%;
    list-style-type: none;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}
.list-detail1,
.list-detail2,
.list-detail3,
.list-detail4{
    position: relative;
    top:-55px; 
    left:10px;
    margin-left:3em;
}
.list-detail1 p,
.list-detail2 p,
.list-detail3 p,
.list-detail4 p{
    margin-top:1rem;
}
ul h5,p{
    font-size: 20px;
    font-weight: 300;
    
}
li:hover{
    background-color: #cccc;
}
.tags{
    border: var(--BORDERS);
    box-shadow: 0 0 5px;
    font-family: var(--FF);
    font-size: 20px;
    height: 60%;
    left:130px;
    margin-left:37em;
    padding-bottom: 2em;
    position: relative;
    top:-155px; 
    width: 29%;
}
.tags h4{
    font-weight: 350;
    margin-left: 2rem;
    margin-bottom: 1.2em;
}
.tag-content{
    display: flex;
    flex-wrap: wrap;
}
.tag-span1{
    margin-left: 1.5rem;
    font-size: 15px;
}
.tag-span2,
.tag-span3,
.tag-span4,
.tag-span5,
.tag-span6
{
    background-color:#F1F1F1;
    border: none;
    color: black;
    font-size: 15px;
    margin-left: 0.5rem;
}
.tag-span7{
    background-color:#F1F1F1;
    border: none;
    color: black;
    font-size: 15px;
    margin-left: 1.5rem;
}
.tag-span8,
.tag-span9,
.tag-span10,
.tag-span11,
.tag-span12
{
    background-color:#F1F1F1;
    border: none;
    color: black;
    font-size: 15px;
    margin-left: 1rem;
}
.tag-span13{
    background-color:#F1F1F1;
    border: none;
    color: black;
    font-size: 15px;
    margin-left: 1.5rem;
}
.tag-span14{
    background-color:#F1F1F1;
    border: none;
    color: black;
    font-size: 15px;
    margin-left: 1rem;
}

footer{
    background-color: #616161;
    padding: 4em;
}
footer p,a{
    color: white;
    font-size: 20px;
    font-weight: 250;
}
/* ||XS */
@media screen and (max-width:768px) {
    .header__h1{
        font-size: 16px;
        text-align: center;
        background-color: rebeccapurple;
        width: 100%;
     }
}

