@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Quicksand:wght@300..700&family=Sofadi+One&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(231, 221, 196);
}
:root{
    --FONT-FAMILY : "Playwrite GB S", cursive;
    --HEADER-COLOR : goldenrod;
    --HEADER-FONT-WEIGHT: 400;
    --FONT-STYLE: obique;
}

.side{
    position: absolute;
    top: 0;
    background-color: #131819;
    width: 250px;
    height: 55rem;
}
.side > h1{
    color: var(--HEADER-COLOR);
    text-align: center;
    margin-top: 1rem;
    font-weight: var(--HEADER-FONT-WEIGHT);
    font-style: var(--FONT-STYLE);
    font-family: var(--FONT-FAMILY);

}
.side--section{
    color: wheat;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 4em;
    font-family: var(--FONT-FAMILY);
    font-weight: 300;
}

svg{
    width: 20px;
    height: 50px;
    color:#8e999b;
    margin-top: 0.5rem;
}

.side--h1{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 2rem;
}
.side--h1{
    display: inline-flex;
    gap: 10px;
    width: 75%;
    padding-left: 0.5rem;
    white-space: nowrap;
}
.side--h1:hover,:focus{
    border-width: 75%;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
    color: black;
    background-color: white;
}
.compliment{
    color: var(--HEADER-COLOR);
   text-decoration: wavy;
   margin-top: 1em;
   font-family: var(--FONT-FAMILY);
   font-style: var(--FONT-STYLE);
}
#side--icon{
    width: 55px;
    height: 50px;
    color:#8e999b;
    margin-top: 3rem;
    transform: translateX(70px);
}

section{
    margin-left: 18rem;
}

 header{
    
    margin-top: 1.5rem;
 }
header > h1{
    font-weight: 400;
    word-spacing: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.home--boxes{

    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3,2fr);
}
.home--box1{
    background-color: rgb(255, 236, 236);
    box-shadow: 1px 2px  2px rgb(241, 230, 230);
    width: 80%;
    border-radius: 5px;
    color: black;
    padding: 1rem;
}
.home--box1 > pre
{
    font-size: 1.4rem;
    margin-left: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.home--box1 > h1{
    font-size: 1.5rem;
    margin-left: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.home--box1:hover{
    transition: 0.8s ease-in;
   color: white;
   background-color: black;
}

.contents{
    margin-top:1rem;
   border: 1px solid wheat; 
   width:45%;
   box-shadow: 1px 1px 2px rgba(213,135,215,0.2);
   border-radius: 10px;
}
.head{
    display: flex;
    margin-top:1em;
    gap: 18rem;
    cursor: pointer;
}
.head > h4,
.head > p{
    font-size: 0.9rem;
    font-family: var(--FONT-FAMILY);
    font-weight: 500;
}
.head :hover{
    transition: 0.5s ease-in;
    color: gray;
}
article{
    display:flex;
}
.status{
    display:block;
    margin-right: 1rem;
    margin-top:2rem;
    transform:translateX(20px);
    background-color: rgb(182, 180, 161);
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(182, 180, 171);
    width: 50%;

}
.status > h4{
    margin-top: 1rem;
    margin-left:2rem;
    font-size: 1.2rem;
    font-family: var(--FONT-FAMILY);
    font-weight: 500;
}
.status > p{
    transform: translateY(-40px);
    margin-left: 4rem;
    font-size:1.1rem;
    font-family: var(--FONT-FAMILY);
    font-weight:300;
}
#status--svg{
    transform:translateX(20px);
    width:20px;

}
.acct--status{
    transform : translateX(20px);
    margin-top:0.5rem;
    font-family:var(--FONT-FAMILY);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.accounts{
    display: flex;
    gap: 2rem;
}
.acct--status-1{
    border-left:2px solid hotpink;
    height: 35%;
}
.acct--status-2{
    border-left: 2px solid cadetblue;
    height: 35%;
}
.acct--status-3{
    border-left: 2px solid gray;
    height: 85%;
}
.acct--status-4{
    border-left: 2px solid forestgreen;
    height: 80%;
}
.acct--status-1 > h4,
.acct--status-2 > h4,
.acct--status-3 > h4,
.acct--status-4 > h4{
  font-weight:550;
  margin-left:0.5rem;
}
.acct--status-1 > p,
.acct--status-2 > p,
.acct--status-3 > p,
.acct--status-4 > p{
    margin-left:0.5rem;
    font-weight:200;
}
.expenses{
    padding: 0.5rem;
    margin: 1rem  0.2rem  0.5rem  1rem;
    box-shadow: 1px 0px  2px 1px rgb(228, 212, 212);
    width: 44%;
}
.expense--head{
    font-family: var(--FONT-FAMILY);
    display: flex;
    gap: 12rem;
}
.expense--head > p{
     margin-top:0.1px ;
     font-size: 0.95rem;
     font-weight: 200;
     margin-left: 2rem;
}
.expense--head-1,
.expense--head-2,
.expense--head-3,
.expense--head-4{
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid rgb(216, 202, 175);
    margin-top: 2rem;
    font-family: var(--FONT-FAMILY);
    font-weight: 200;
    display: flex;
    gap: 12rem;
}
.expense--head-1 > h4,
.expense--head-2 > h4,
.expense--head-3 > h4, 
.expense--head-4 > h4{
    font-weight: 400;
}
.expense--head-1 > p,
.expense--head-2 > p,
.expense--head-3 > p,
.expense--head-4 > p{
    font-weight: 300;
    font-family: sans-serif;
}
.expense--head-1:hover,
.expense--head-2:hover,
.expense--head-3:hover,
.expense--head-4:hover{
    transition: 0.5s ease-in;
    color: white;
    border-radius: 10px;
    transform: scale(1.1);
    background-color: #131819;
}
